<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        
        <client>
            <endpoint address="http://localhost:57772/csp/samples/ThreadPool.ThreadPoolWebService.cls"
                binding="basicHttpBinding" bindingConfiguration="TheradPoolWebServiceSoap"
                contract="ServiceReference1.TheradPoolWebServiceSoap" name="TheradPoolWebServiceSoap" />
        </client>
    
        <bindings>
            <basicHttpBinding>
                <binding name="TheradPoolWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
    

    </system.serviceModel>
</configuration>