<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight" publicKeyToken="e7570ab207bcb616" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.32240" newVersion="5.0.2.32240" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>

    <client>
      <endpoint address="http://localhost:57772/csp/samples/ThreadPool.ThreadPoolWebService.cls"
          binding="basicHttpBinding" bindingConfiguration="TheradPoolWebServiceSoap"
          contract="ServiceReference1.TheradPoolWebServiceSoap" name="TheradPoolWebServiceSoap" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="TheradPoolWebServiceSoap" />
      </basicHttpBinding>
    </bindings>


  </system.serviceModel>
</configuration>